@use './mixins.module.scss' as *;

.error__container {
  max-width: 100dvw;
  height: calc(100dvh - 50px);
  background-color: lighten($color: #8758ff, $amount: 10);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: map-get($fonts, font-catamaran);
  font-size: clamp(2rem, 6vw + 10px, 2rem);
  background-image: url(../assets/error.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.access_denied_img {
  width: 200px;
  height: 200px;
  animation: rotate 10s cubic-bezier(0.54, 0.95, 0.75, 0.12) 3s infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(360deg);
  }
}
@include sm {
  .error__container {
    text-align: center;
    flex-direction: column;
  }
}
